@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #212121;
  --color-footer-link: #ccc;
  --container-width: 1208px;
  --gutter: 32px;
}

body {
  color: var(--color-text);
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--gutter) * 2);
  padding: 0 var(--gutter);
  margin: 0 auto;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
